/* .css-11xur9t-MuiPaper-root-MuiTableContainer-root {
  background-image: linear-gradient(
    to right,
    lightgreen,
    lightgray,
    pink
  ) !important;
} */

/* .student{
  background-image: linear-gradient(to right, lightgreen, lightgray, pink);
} */

.table {
  margin-left: 300px;
}
